<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="{% static "routes/js/jquery-ui.min.js" %}"></script>
	<script src="{% static "routes/js/jquery-ui.multidatespicker.js" %}"></script>
	<script src="{% static "routes/js/jquery.ui.timepicker.js" %}"></script>
    <script src="{% static "routes/js/google_location_bar.js" %}"></script>
    <script src="{% static "routes/js/datetimepicker_script.js" %}"></script>
	<link rel="stylesheet" href="{% static "routes/css/jquery-ui.min.css" %}">
	<link rel="stylesheet" href="{% static "routes/css/jquery-ui.theme.min.css" %}">
	<link rel="stylesheet" href="{% static "routes/css/jquery.ui.timepicker.css" %}">
	<script>
	function makeroutecheck(){
		a = document.getElementById("startlong").value;
	  	b = document.getElementById("startlat").value;
	  	c = document.getElementById("endlong").value;
	  	d = document.getElementById("endlat").value;
	  	if(a != '' && b != '' && c != '' && d != ''){
	  		makeroutemap();
	  	}
	}
    function makemapinit() {
    	var mapOptions = {
            center: new google.maps.LatLng('28.4', '77.2'),
            zoom: 10,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
    }
    window.onload = makemapinit;
    function makeroutemap() {
    	var coods = [];
        latstr = "";
        longstr = "";
        maxlat = parseFloat(document.getElementById('startlat').value);
        minlat = parseFloat(document.getElementById('startlat').value);
        maxlong = parseFloat(document.getElementById('startlong').value);
        minlong = parseFloat(document.getElementById('startlong').value);
        document.getElementById('minlat').value = document.getElementById('startlat').value;
        document.getElementById('maxlat').value = document.getElementById('startlat').value;
        document.getElementById('minlong').value = document.getElementById('startlong').value;
        document.getElementById('maxlong').value = document.getElementById('startlong').value;
    	var markers = [
            {
                "title": 'Start Point',
                "lat": document.getElementById('startlat').value,
                "lng": document.getElementById('startlong').value,
                "description": document.getElementById('start').value
            }
        ,
            {
                "title": 'End Point',
                "lat": document.getElementById('endlat').value,
                "lng": document.getElementById('endlong').value,
                "description": document.getElementById('end').value
            }
    	];
        var mapOptions = {
            center: new google.maps.LatLng(markers[0].lat, markers[0].lng),
            zoom: 10,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
        var infoWindow = new google.maps.InfoWindow();
        var lat_lng = new Array();
        var latlngbounds = new google.maps.LatLngBounds();
        for (i = 0; i < markers.length; i++) {
            var data = markers[i]
            var myLatlng = new google.maps.LatLng(data.lat, data.lng);
            lat_lng.push(myLatlng);
            var marker = new google.maps.Marker({
                position: myLatlng,
                map: map,
                title: data.title
            });
            latlngbounds.extend(marker.position);
            (function (marker, data) {
                google.maps.event.addListener(marker, "click", function (e) {
                    infoWindow.setContent(data.description);
                    infoWindow.open(map, marker);
                });
            })(marker, data);
        }
        map.setCenter(latlngbounds.getCenter());
        map.fitBounds(latlngbounds);

        //***********TIMING*****************//

        var origin = new google.maps.LatLng( document.getElementById("startlat").value, document.getElementById("startlong").value ); // using google.maps.LatLng class
        var destination = document.getElementById("endlat").value + ', ' + document.getElementById("endlong").value; // using string

        var directionsService = new google.maps.DirectionsService();
        var request = {
            origin: origin, // LatLng|string
            destination: destination, // LatLng|string
            travelMode: google.maps.DirectionsTravelMode.DRIVING
        };

        directionsService.route( request, function( response, status ) {

            if ( status === 'OK' ) {
                var point = response.routes[ 0 ].legs[ 0 ];
                document.getElementById("timereq").value = point.duration.value;
            }
        } );

        //***********ROUTING****************//
 
        //Initialize the Path Array
        var path = new google.maps.MVCArray();
        //Initialize the Direction Service
        var service = new google.maps.DirectionsService();
        //Set the Path Stroke Color
        var poly = new google.maps.Polyline({ map: map, strokeColor: '#4986E7' });
        //Loop and Draw Path Route between the Points on MAP
        for (var i = 0; i < lat_lng.length; i++) {
            if ((i + 1) < lat_lng.length) {
                var src = lat_lng[i];
                var des = lat_lng[i + 1];
                path.push(src);
                poly.setPath(path);
                service.route({
                    origin: src,
                    destination: des,
                    travelMode: google.maps.DirectionsTravelMode.DRIVING
                }, function (result, status) {
                    if (status == google.maps.DirectionsStatus.OK) {
                        for (var i = 0, len = result.routes[0].overview_path.length; i < len; i++) {
                            path.push(result.routes[0].overview_path[i]);
                            var newcood = {lat: result.routes[0].overview_path[i].A, lng: result.routes[0].overview_path[i].F}
                            latvar = parseFloat(result.routes[0].overview_path[i].A).toFixed(2);
                            latstr = latstr + "," + latvar.toString();
                            longvar = parseFloat(result.routes[0].overview_path[i].F).toFixed(2);
                            longstr = longstr + "," + longvar.toString();
                            if(latvar > maxlat){
                                maxlat = latvar;
                                document.getElementById('maxlat').value = maxlat.toString();
                            }
                            if(latvar < minlat){
                                minlat = latvar;
                                document.getElementById('minlat').value = minlat.toString();
                            }
                            if(longvar > maxlong){
                                maxlong = longvar;
                                document.getElementById('maxlong').value = maxlong.toString();
                            }
                            if(longvar < minlong){
                                minlong = longvar;
                                document.getElementById('minlong').value = minlong.toString();
                            }
                            document.getElementById("latstr").value = latstr;
                            document.getElementById("longstr").value = longstr;
                        }
                    }
                });
            }
        }
    }
	</script>
</head>
<body>
	<input id="start" class="form-control" placeholder="Start Point" type="text" style="float: left;width: 60%;">
	<br>
	<input id="end" class="form-control" placeholder="End Point" type="text" style="float: left;width: 60%;">
	<br>
	<br>
    <form action="{% url 'routes:createride' %}" method="post">
    {% csrf_token %}
	<input type="hidden" id="startlat" name="startlat"/>
	<input type="hidden" id="startlong" name="startlong"/>
	<input type="hidden" id="endlat" name="endlat"/>
	<input type="hidden" id="endlong" name="endlong"/>
    <input type="hidden" id="minlat" name="minlat"/>
    <input type="hidden" id="maxlat" name="maxlat"/>
    <input type="hidden" id="minlong" name="minlong"/>
    <input type="hidden" id="maxlong" name="maxlong"/>
    <input type="hidden" id="latstr" name="latstr" />
    <input type="hidden" id="longstr" name="longstr" />
    <input type="hidden" id="timereq" name="timereq" />
	<div id="map_canvas" style="width:700px; height:500px; border: 5px solid #000;"></div>
	<br>
	<input id="datepicker" placeholder="Select Dates" name="date"/>
	<br>
	<input id="timepicker" placeholder="Select Time" name="time"/>
    <br>
    <input type="submit" value="Make Carpool Ride" />
    </form>
</body>
</html>